{% include "header.html" %}

    <div class="container" style="width: 35rem; margin-top: 5rem;">
        <div class="card text-center">
            <div class="card-body">
                <h3 class="card-title">立即註冊</h3>
                <br>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="{{ url_for('register') }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.email(class="form-control") }}<br>
                    {{ form.password(class="form-control") }}<br>
                    {{ form.confirm_password(class="form-control") }}<br><br>
                    {{ form.submit(class="btn btn-lg btn-secondary") }}
                </form>
            </div>
        </div>
    </div>
